<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Create Apartment Entry <%= title %></p>
    <br>
    <div>
    Apartment name: <%= name %> <br>
    Rent: <%= rent %> <br>
    Address: <%= street %> <br>
	</div>
  </body>
</html>
