<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <h2> Create </h2>
    <form action="/create" method="post" accept-charset="utf-8">
      Apartment name: <input type="text" name="apt_name" />
      Rent: <input type="text" name="apt_rent" />
      Address: <input type="text" name="apt_street" />
      <input type="submit" />
    </form>

    <div>
      <h2> Search </h2>
      <br>
      Search Term was: <%= search_term %>
      <br>
      <form action="/list" method="get" accept-charset="utf-8">
        Search by Name: <input type="text" name="apt_search_name" />
        <input type="submit" />
      </form>
    <ul>
      <% apts_it.forEach( function(apts){ %>
      <li><p><%= apts.name %>, <%= apts.rent %>, <%= apts.street %></p></li>  
      <% }); %>
    </ul>
    

    </div>
  </body>
</html>